#cloud-config
autoinstall:
  version: 1
  locale: en_US
  keyboard:
    layout: us
  apt:
      preserve_sources_list: true
  ssh:
    install-server: true
    allow-pw: no
    disable_root: true
    ssh_quiet_keygen: true
    allow_public_ssh_keys: true
  packages:
    - qemu-guest-agent
    - sudo
    - ufw
  storage:
    layout:
      name: direct
    swap:
      size: 0
  user-data:
    package_upgrade: true
    timezone: Europe/Helsinki
    users:
      - name: debian
        groups: [adm, sudo]
        lock_passwd: false
        sudo: ALL=(ALL) NOPASSWD:ALL
        shell: /bin/bash
        ssh_authorized_keys:
          - <your-public-key>
