# Settings for VM
vm = {
  node =
  id =
  disk_size =
}

# Download ISO and verify checksum
iso = {
  url      = "https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/debian-12.5.0-amd64-netinst.iso"
  checksum = "013f5b44670d81280b5b1bc02455842b250df2f0c6763398feb69af1a805a14f"
}

# HTTP server IP and ports for preseed.cfg
http = {
  bind_address =
  port_min     =
  port_max     =
}

ssh_password =
