# Settings for VM
vm = {
  node      =
  id        =
  disk_size = "16G"
}

# Download ISO and verify checksum
iso = {
  url      = "https://builds.coreos.fedoraproject.org/prod/streams/stable/builds/40.20240416.3.1/x86_64/fedora-coreos-40.20240416.3.1-live.x86_64.iso"
  checksum = "4cd031f924044e83d02244c23f8cdd0b6c634c2f9e686a2ef1c7e3a8cd6ff260"
}

# HTTP server IP and ports for autoinstall
http = {
  bind_address =
  port_min     =
  port_max     =
}

ssh_private_key_file =
ssh_username         =