# Settings for VM
vm = {
  node      =
  id        =
  disk_size = "16G"
}

# Download ISO and verify checksum
iso = {
  url      = "https://builds.coreos.fedoraproject.org/prod/streams/stable/builds/39.20240407.3.0/x86_64/fedora-coreos-39.20240407.3.0-live.x86_64.iso"
  checksum = "c49ac47800dbd0c5d53e5156565f093d5b7ec791094987bc4ca5bae2d7b061b4"
}

# HTTP server IP and ports for autoinstall
http = {
  bind_address =
  port_min     =
  port_max     =
}

ssh_private_key_file =
ssh_username         =